/* LOADER ANIMATION */

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.loader span {
    font-family: 'Teko', sans-serif;
    font-size: 22px;
}

.loaderImg {
    animation: rotate 1s linear infinite;
}

